@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sora:wght@700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body{
 background-color: #272727;
}

ul li a.nav-link{
  color: #c9c9c9;
}

ul li a.nav-link:hover{
  color:#ffffff;
}

.navbar-custom {
  border-bottom:1px solid #6c757d;
}

.bg-navbar{
  background-color: #272727;
}

/* halaman about */
.about {
  color: #4ca9ff;
  line-height: 60px;
}

.content-about {
  width: 90;
}

.img-profile {
  border: 1px solid #4ca9ff;
}

.content-biography h2 {
  color: #ffffff;
  letter-spacing: 1px;
}

.content-biography p {
  color: #6c757d;
}

.text-info {
  color:#272727;
}

.content-social a {
  color: #ffffff;
}
/* card custom */
.card-custom{
  width: 50%;
  margin-left: 5px;
  background-color: #a8aaac;
}

.icon-custom{
  background-color: #a8aaac;
  top: -40px;
}

.card-skill {
  background-color: #314961;
}
.card-skill p{
  text-align: justify;
}
.portofolio {
  padding-top: 50px;
}
.portofolio h2 {
  font-family: "sora";
  font-size: 48px;
}
.portofolio h3{
  font-family: "sora";
  font-size: 48px; 
  margin: 15px 0;
}
.portofolio p{
  line-height: 25px;
  text-align: justify;
}
.tombol {
  background-color:#314961;
  color: #6c757d;
}
.tombol:hover {
  background-color: #62d9ff;
  color: white;
  transition: ease 0.3s;
}
.border-footer{
  border-top: 1px solid white;
}
.footer{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer a{
  font-size: 20px;
  color: #ffffff;
}
.heading-text h2,h2,span{
  font-size: 48px;
  font-family: "sora";
  color: wheat;
}
.container-custom{
  background-color: #314961;
  width: 100%;
  height: 20pc;
  overflow: hidden;
}

.container-custom img{
  transition: ease .5s;
}

.container-custom img:hover{
  transform: scale(2);
}

.kotak-arrow{
  background-color: #272727;
  padding: 6px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  top: 10px;
  right: 10px;
}
.img-arrow {
  rotate: -45deg;
  color: white;
}

.content-biography h2, span {
  font-size: 20px;
}